@model IEnumerable<FoodOrderSystem.Models.Abstract.FoodOrder>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Add New Food Order", "AddFoodOrder")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodOrderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodOrderQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodOrderPrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodOrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodOrderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodOrderQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodOrderPrice)
                </td>
                <td>
                    @Html.ActionLink("Update", "UpdateFoodOrder", new { FoodOrderId = item.FoodOrderId }) |
                    @Html.ActionLink("Delete", "DeleteFoodOrder", new { FoodOrderId = item.FoodOrderId })
                </td>
            </tr>
        }

    </table>
</body>
</html>
